<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/nunjucks.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/index.js" media="all"></script>

    <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
</head>
<body>
    <div id="block-pokesos">
        {% include 'partial/list-viewers.html' %}
    </div>
</body>
</html>
